<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shopping Cart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B5DC9C11E7C256D00481FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5DC9D51E7C256F00481FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5DC9E01E7C256F00481FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
